<form class="form-horizontal">

    <h3>{{ _("Filament") }}</h3>

    {{ _("The settings can be found in the") }} <a href="#settings_plugin_filamentmanager" data-toggle="tab" style="" data-bind="click: function() {$('#settings_plugin_filamentmanager_link').addClass('active'); $('#settings_plugin_costestimation_link').removeClass('active');}">Filament Manager</a>

    <h3>{{ _("Operating Cost") }}</h3>

    <div class="control-group">
        <label class="control-label">{{ _('Power consumption') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="0.01" min="0" class="input-mini text-right" data-bind="value: settings.plugins.costestimation.powerConsumption">
                <span class="add-on">kW</span>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Electricity cost') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="0.01" min="0" class="input-mini text-right"data-bind="value: settings.plugins.costestimation.costOfElectricity">
                <span class="add-on"><span data-bind="text: settings.plugins.costestimation.currency"></span>/kWh</span>
            </div>
        </div>
    </div>

    <h3>{{ _('Appearance') }}</h3>

    <div class="control-group">
        <label class="control-label">{{ _('Currency symbol') }}</label>
        <div class="controls">
            <input type="text" class="input-mini text-center" data-bind="value: settings.plugins.costestimation.currency, valueUpdate: 'afterkeydown'">
        </div>
    </div>

    <div class="control-group" title="{{ _('Format string that allows control of symbol position (%%v = value, %%s = symbol)') }}">
        <label class="control-label">{{ _('String format') }}</label>
        <div class="controls">
            <input type="text" class="input-mini text-center" data-bind="value: settings.plugins.costestimation.currencyFormat">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.costestimation.requiresLogin">{{ _("Show estimated cost only if logged in") }}
            </label>
        </div>
    </div>

</form>
