<div id="settings_plugin_costestimation_filamentdialog" class="modal hide fade">

    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Manage Filament') }}</h3>
    </div>

    <div class="modal-body">

        <div class="controls" style="margin-bottom: 5px;">
            <select data-bind="options: editor.filaments, optionsText: function(item) { return item.name(); }, optionsValue: function(item) { return item.id(); }, value: editor.selected, event:{ change: editor.loadData(editor.selected()) }"></select>
            <button class="btn btn-small btn-success" style="margin-bottom: 8px;" title="{{ _('New') }}" data-bind="click: function() { addFilament(); }"><span class="icon-plus"></span></button>
            <button class="btn btn-small btn-danger" style="margin-bottom: 8px;" title="{{ _('Delete') }}" data-bind="enable: editor.selected() != '0', click: function() { removeFilament(editor.selected()); }"><span class="icon-minus"></span></button>
        </div>

        <legend></legend>

        <form class="form-horizontal">

            <div class="control-group">
                <label class="control-label">{{ _('Name') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" data-bind="enable: editor.selected() != '0', value: editor.name(), valueUpdate: 'afterkeydown'">
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{ _('Price') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" step="0.01" min="0" class="input-mini text-right" data-bind="value: editor.cost()">
                        <span class="add-on" data-bind="text: settings.settings.plugins.costestimation.currency"></span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{ _('Weight') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: editor.weight()">
                        <span class="add-on">g</span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{ _('Density') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" step="0.01" min="0" class="input-mini text-right" data-bind="value: editor.density()">
                        <span class="add-on">g/cm<sup>3</sup></span>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{ _('Diameter') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" step="0.01" min="0" class="input-mini text-right" data-bind="value: editor.diameter()">
                        <span class="add-on">mm</span>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>

</div>
