<form class="form-horizontal">

    <div class="pull-right">
        <button class="btn btn-small" title="{{ _('Manage Filament') }}" data-bind="click: function() { showFilamentDialog(); }"><span class="icon-wrench"></span></button>
    </div>

    <h3>{{ _("Filament") }}</h3>

     <!-- ko foreach: numExtruders -->
        <div class="control-group">
            <label class="control-label">{{ _('Tool') }} <span data-bind="text: $index"></span></label>
            <div class="controls">
                <select data-bind="options: $root.filaments, optionsText: function(item) { return item.name; }, optionsValue: function(item) { return item.id; }, value: $root.settings.settings.plugins.costestimation.selectedFilament['tool'+($index())]"></select>
            </div>
        </div>
    <!-- /ko -->

    <h3>{{ _("Operating Cost") }}</h3>

    <div class="control-group">
        <label class="control-label">{{ _('Power consumption') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="0.01" min="0" class="input-mini text-right" data-bind="value: $root.settings.settings.plugins.costestimation.powerConsumption">
                <span class="add-on">kW</span>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Electricity cost') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" step="0.01" min="0" class="input-mini text-right"data-bind="value: $root.settings.settings.plugins.costestimation.costOfElectricity">
                <span class="add-on"><span data-bind="text: $root.settings.settings.plugins.costestimation.currency"></span>/kWh</span>
            </div>
        </div>
    </div>

    <h3>{{ _('Currency Format') }}</h3>

    <div class="control-group">
        <label class="control-label">{{ _('Symbol') }}</label>
        <div class="controls">
            <input type="text" class="input-mini text-center" data-bind="value: $root.settings.settings.plugins.costestimation.currency, valueUpdate: 'afterkeydown'">
        </div>
    </div>

    <div class="control-group" title="{{ _('Format string that allows control of symbol position (%%v = value, %%s = symbol)') }}">
        <label class="control-label">{{ _('Format') }}</label>
        <div class="controls">
            <input type="text" class="input-mini text-center" data-bind="value: $root.settings.settings.plugins.costestimation.currencyFormat">
        </div>
    </div>

</form>
